.checkout-page {
  min-height: 100vh;
  background: #0f0f0f;
  padding: 20px;
  color: white;
  animation: fadeIn 0.4s ease;
}

.checkout-page h2,
.checkout-page h3 {
  color: #ffd60a;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  background: #161616;
  color: white;
}

.checkout-page button {
  width: 100%;
  padding: 14px;
  background: #ffd60a;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
