:root {
  --yellow: #FFD60A;
  --black: #0F0F0F;
  --black-soft: #161616;
  --white: #FFFFFF;
}

/* ===== PAGE ===== */
.search-page {
  position: fixed;
  top: 55;
  left: 10; 
  margin-top: 15px;
  width: 100vw;   
  /* height: 80vh;     */
background: var(--black);
  z-index: 9999;
  /* display: flex; */
  /* border: 1px solid red; */
  flex-direction:column; 
  animation: slideDown 0.35s ease; 
 
}

/* ===== HEADER ===== */
.search-header {
  /* display: flex; */
  /* align-items: center; */
  gap: 10px;
  padding: 14px;
  background: var(--black);
}

/* BACK BUTTON */
.back-btn {
  background: none;
  border: none;
  color: var(--yellow);
  font-size: 22px;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 10px;
}

/* ===== SEARCH BOX ===== */
.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: var(--black-soft);
  border-radius: 30px;
  padding: 0px 14px;
  border: 2px solid rgba(255,214,10,0.4);
  box-shadow: 0 0 20px rgba(255,214,10,0.35);
}

.search-box i {
  color: var(--yellow);
  font-size: 16px;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  padding: 6px 15px;
  font-size: 15px;
}

.search-box input::placeholder {
  color: #aaa;
}

/* CLEAR BUTTON */
.clear {
  color: var(--yellow);
  font-size: 18px;
  cursor: pointer;
}

/* ===== BODY ===== */
.search-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* HINT */
.search-hint {
  color: #aaa;
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/* NO RESULT */
.no-result {
  color: #aaa;
  text-align: center;
  margin-top: 40px;
}

/* ===== SEARCH ITEM ===== */
.search-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  margin-bottom: 12px;
  background: var(--black-soft);
  border-radius: 14px;
  cursor: pointer;
  animation: fadeUp 0.3s ease;
  transition: background 0.25s ease, transform 0.2s ease;
}

.search-item i {
  color: var(--yellow);
}

.search-item span {
  color: var(--white);
  font-size: 14px;
}

/* HOVER / TAP */
.search-item:hover {
  background: rgba(255,214,10,0.18);
}

.search-item:active {
  transform: scale(0.96);
}

/* ===== ANIMATIONS ===== */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== MOBILE SAFE ===== */
@media (max-width: 768px) {
  .search-box {
    padding: 8px 12px;
  }

  .search-box input {
    font-size: 14px;
  }
}
