:root {
  --yellow: #FFD60A;
  --black: #0F0F0F;
  --black-soft: #161616;
  --white: #FFFFFF;
  --gray: #BFBFBF;
}

/* PAGE */
.account-page {
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
  padding-bottom: 90px;
  margin-top: 15px;
  animation: fadeIn 0.6s ease;
}

/* HEADER */
.account-header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.back-btn {
  background: none;
  border: none;
  
  margin-top: 100px;
  /* margin-left: 40px; */
  width:150px;
  color: var(--yellow);
  font-size: 22px;
  
  
}

.user-info {
  display: flex;
  gap: 14px;
  align-items: left;
  border-bottom: 1px solid white;
}

.avatar {
  width: 50px;
  height: 50px;
  background: var(--yellow);
  color: var(--black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}

.user-info p {
  color: #fff;
  font-size: 14px;
  

}

/* OPTIONS */
.account-options {
  margin-top: 10px;
  padding: 0 14px;
  width:200px;
}

.account-item {
  background: var(--black-soft);
  border-radius: 15px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: slideUp 0.5s ease;
}

.account-item i {
  color: var(--yellow);
  font-size: 18px;
}

.account-item span {
  flex: 1;
  font-weight: 500;
}

.account-item .arrow {
  color: var(--gray);
  font-size: 14px;
}

.account-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(255, 214, 10, 0.3);
}

/* LOGOUT */
.logout {
  border: 1px solid #ff4d4d;
  width:150px;
  
}

.logout i,
.logout span {
  color: #ff4d4d;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
