:root {
  --yellow: #FFD60A;
  --black: #0F0F0F;
  --grey: #ffffff;
}

/* ===== BOTTOM NAV ===== */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 62px;
  background: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eee;
  z-index: 999;
}

/* HIDE ON DESKTOP */
@media (min-width: 992px) {
  .bottom-nav {
    display: none;
  }
}

/* ===== LINKS ===== */
.bottom-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--grey);
  font-size: 12px;
  transition: 0.3s;
}

.bottom-link i {
  font-size: 18px;
  margin-bottom: 3px;
}

/* ACTIVE */
.bottom-link.active {
  color: var(--yellow);
}

.bottom-link.active i {
  transform: translateY(-2px);
}

/* TOUCH FEEDBACK */
.bottom-link:active {
  transform: scale(0.95);
}
.bottom-link.active {
  color: var(--yellow);
}

.bottom-link.active i {
  transform: scale(1.15);
}
